.error-page {
  &.container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &--return {
    display: flex;
    align-items: center;
    margin-top: 24px;

    &-button {
      margin-left: 25px;
    }
  }
}
