.left-nav {
  position: fixed;
  top: 0;
  left: 0;

  &--upper {
    height: 64px;
    display: flex;
    align-items: center;
    padding: 0 24px;

    .left-nav--menu {
      width: 24px;
      height: 24px;
      background-color: red;
      cursor: pointer;
    }
  }
}
