.accordion {
  $self: &;

  &.expanded {
    #{$self}--content {
      height: auto;
      margin-top: 1rem;
    }
  }

  &--title {
    h3 {
      line-height: 1;
    }
  }

  &--content {
    height: 0;
    overflow: hidden;
    transition: 250ms ease-in-out;
  }
}
