.card {
  @include elevation($z-index-card);
  position: relative;
  background-color: white;
  border-radius: 6px;
  padding: 16px;

  &.flat {
    box-shadow: none;
    border: 1px solid #333;
  }
}
