.header {
  @include elevation($z-index-header);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 64px;
  background-color: white;
  width: 100%;

  &--menu {
    position: absolute;
    left: 24px;
    width: 24px;
    height: 24px;
    background-color: red;
    cursor: pointer;
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
