.scroll-tracker {
  @include elevation($z-index-button);
  position: fixed;
  bottom: 2rem;
  right: 2rem;

  .button {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    min-width: auto;
  }
}
